// app global css in SCSS form
@import 'quasar.variables';

@font-face {
  font-family: Lato;
  src: url('../assets/fonts/lato-medium.woff');
}

* {
  font-family: 'Lato';
}

.comp-sidebar {
  .q-item {
    border-radius: 10px;
    opacity: 0.65; // Ubah ke nilai antara 0 hingga 1
    &.q-router-link--exact-active {
      font-weight: bold;
    }
    &:hover {
      opacity: 1; // Ubah ke nilai antara 0 hingga 1
    }
  }

  .q-expansion-item {
    .q-item[aria-expanded='true'] {
      background-color: rgba($primary-rgb, 0.15);
      color: $primary;
      font-weight: bold;
    }
  }
}

.dashboard-box {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  padding: 4px 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);

  .icon {
    background-color: rgba($primary-rgb, 0.15);
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 10px;

    .q-icon {
      font-size: 18px;
      margin: auto;
      color: $primary;
    }
  }
  .label {
    margin: 0px;
    opacity: 60%;
  }

  .data {
    margin: 0px;
    font-weight: bold;
  }
}

.multi-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;

  .upper-panel {
    flex: 1;
    overflow: auto;
  }

  .lower-panel {
    overflow: auto;
  }

  .resizable-bar {
    height: 4px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    background-color: $border;

    .bar {
      width: 48px;
      height: 10px;
      background-color: $border;
      border-radius: 100px;
      cursor: row-resize;
      display: flex;

      div {
        width: 80%;
        border-radius: 100px;
        height: 3px;
        background-color: rgba($dark-rgb, 0.4);
        margin: auto;
      }
    }
  }
}

.fo-menubar {
  border-bottom: 1px solid $border;
  white-space: nowrap;

  .q-item--active {
    background-color: rgba($primary-rgb, 0.15);
  }
}

.q-item__section.q-item__section--side.q-item__section--avatar {
  padding: 0px;
  min-width: 40px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* page transition  */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-3%);
  opacity: 0;
}
