// app global css in SCSS form
@import 'quasar.variables';

@font-face {
  font-family: Lato;
  src: url('../assets/fonts/lato-medium.woff');
}

* {
  font-family: 'Lato';
}
.width-image {
  width: 250px;
  height: 100%;
}

.padding-expansion .q-item {
  padding: 0;
}

.rows-table thead tr th {
  position: sticky;
  background-color: white;
  z-index: 1;
  top: 0;
}

textarea {
  height: 205px;
}

div.q-item__label,
div.q-item__section {
  width: fit-content;
}

.q-field__native span {
  white-space: nowrap;
}

.dropdown-date span.q-btn__content {
  justify-content: left;
  text-align: left;
}

div.q-menu.q-position-engine {
  min-width: 0px !important;
}

span.q-btn__content span.block {
  flex: 1 1 0%;
}

i.q-icon.on-left {
  color: #16a75c;
}

// i.q-icon.notranslate {
//   color: #16a75c;
// }

.border-button {
  border: 1.5px $border solid;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-primary-tint {
  background-color: rgba($primary-rgb, 0.15);
}

.bg-border {
  background-color: $border;
}

.my-table {
  .q-table {
    border: none;
    border-spacing: 3px;

    tbody {
      tr {
        &.active {
          background-color: #0677cd !important;
          color: #fff !important;
        }

        &:nth-child(even) {
          background-color: #f8f8f8;
        }
      }
    }
  }
  th {
    background-color: #069550;
    color: #ffffff;
  }
}

.comp-sidebar {
  .q-item {
    border-radius: 10px;
    opacity: 0.65; // Ubah ke nilai antara 0 hingga 1
    &.q-router-link--exact-active {
      font-weight: bold;
    }
    &:hover {
      opacity: 1; // Ubah ke nilai antara 0 hingga 1
    }
  }

  .q-expansion-item {
    .q-item[aria-expanded='true'] {
      background-color: rgba($primary-rgb, 0.15);
      color: $primary;
      font-weight: bold;
    }
  }
}

.bg-primary-tint {
  background-color: rgba($primary-rgb, 0.15);
}

.rounded {
  border-radius: 10px;
}

.dashboard-box {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  padding: 4px 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);

  .icon {
    background-color: rgba($primary-rgb, 0.15);
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 10px;

    .q-icon {
      font-size: 18px;
      margin: auto;
      color: $primary;
    }
  }
  .label {
    margin: 0px;
    opacity: 60%;
    white-space: nowrap;
    padding-right: 16px;
  }

  .data {
    margin: 0px;
    font-weight: bold;
  }
}

.multi-panel {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: calc(100vh - 100px);
  overflow-x: hidden;
  max-width: 768px;

  @media (min-width: 768px) {
    max-width: 1280px;
  }

  @media (min-width: 1400px) {
    max-width: none;
  }

  .upper-panel {
    flex: 1;
    overflow: auto;
  }

  .lower-panel {
    overflow: auto;
  }

  .resizable-bar {
    height: 4px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    background-color: $border;

    .bar {
      width: 64px;
      height: 16px;
      position: relative;
      z-index: 2;
      background-color: $border;
      border-radius: 100px;
      cursor: row-resize;
      display: flex;

      div {
        width: 70%;
        border-radius: 100px;
        height: 4px;
        background-color: rgba($dark-rgb, 0.4);
        margin: auto;
      }
    }
  }
}

.fo-menubar {
  border-bottom: 1px solid $border;
  white-space: nowrap;

  .q-item--active {
    background-color: rgba($primary-rgb, 0.15);
  }
}

.q-item__section.q-item__section--side.q-item__section--avatar {
  padding: 0px;
  min-width: 40px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* page transition  */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-3%);
  opacity: 0;
}

.q-menu .q-option-group .q-radio__label {
  padding-right: 2rem;
}
