@font-face {
  font-family: Lato;
  src: url('../assets/fonts/lato-medium.woff');
}

:root {
  --primary: #069550;
  --secondary: #26a69a;
  --accent: #9c27b0;

  --dark: #1d1d1d;

  --positive: #21ba45;
  --negative: #c10015;
  --info: #31ccec;
  --warning: #f2c037;

  --primary-rgb: 6, 149, 80;
  --secondary-rgb: 38, 166, 154;
  --accent-rgb: 156, 39, 176;
  --dark-rgb: 29, 29, 29;
  --positive-rgb: 33, 186, 69;
  --negative-rgb: 193, 0, 21;
  --info-rgb: 49, 204, 236;
  --warning-rgb: 242, 192, 55;
}

* {
  font-family: 'Lato';
}

.q-item {
  border-radius: 10px;
  opacity: 75%;
}

.q-item.q-router-link--exact-active {
  font-weight: bold;
}

.q-expansion-item .q-item[aria-expanded='true'] {
  background-color: rgba(var(--primary-rgb), 0.15);
  color: var(--primary);
  font-weight: bold;
}

.q-item:hover {
  opacity: 100%;
}

.q-item__section.q-item__section--side.q-item__section--avatar {
  padding: 0px;
  min-width: 40px;
}

/* page transition  */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-3%);
  opacity: 0;
}
