// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #069550;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;
$border    : #E8E8E8;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$primary-rgb    : rgb(6, 149, 80);
$secondary-rgb  : rgb(38, 166, 154);
$accent-rgb     : rgb(156, 39, 176);
$dark-rgb       : rgb(29, 29, 29);
$positive-rgb   : rgb(33, 186, 69);
$negative-rgb   : rgb(193, 0, 21);
$info-rgb       : rgb(49, 204, 236);
$warning-rgb    : rgb(242, 192, 55);